name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1
    permissions:
      contents: read

  pyright:
    uses: ./.github/workflows/_pyright.yml
    permissions:
      contents: read

  test:
    needs: [pre-commit, pyright]
    strategy:
      matrix:
        runs-on: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.11", "3.12", "3.13", "3.14"] # test multiple Python versions
      fail-fast: false
    uses: ./.github/workflows/_test.yml
    permissions:
      contents: read
    with:
      runs-on: ${{ matrix.runs-on }}
      python-version: ${{ matrix.python-version }}

  dist:
    uses: ./.github/workflows/_dist.yml
    permissions:
      contents: read
      actions: write

  pypi:
    needs: [dist, test]
    if: github.ref_type == 'tag'
    uses: ./.github/workflows/_pypi.yml
    permissions:
      id-token: write
      actions: read
